*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-color: #222529;
}
section{
  height: 100vh;
}
.nav-link,.navbar-brand{
  color: white;
}
.navbar-brand:hover{
  color: white;
}
.search-btn{
  background-color: gray;
  border: none;
  padding: 10px;
  border-radius: 12px;
  color: white;

}
.navbar-brand{
  font-size: 30px;
}
.e{
  color: orange;
}
.nav-link{
  color:#0669c8;
}
.nav-link:hover{
  color: #0669c8;
}
.dropdown-menu{
  background-color: #0f0f10;
  
}
[class~="first-e"]{
  color: white;
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background-color: #0e1822;
  color: #0668C6;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu{
  margin-top: 0;
}
.dropdown-divider{
  background-color: white;
}
.first-part{
  width: 40px;
}
#flast{
  width: 410px;
}
#llast{
  margin-left: 100%;
}
.all {
  background-color: white;
  padding: 2px;
  border-radius: 8px;
}
.all input{
  border: none;
  border-radius: 8px;
  padding-left: 5px;
}

.form-contro:focus {
  outline: none;
  border: none;
}
[class='fa-regular fa-life-ring']{
  color: rgb(233, 236, 13);
}
[class='fa-solid fa-book']{
  color: rgb(255, 57, 57);
}
[class='fa-solid fa-toggle-on']{
  color: #0668C6;
}
[class='fa-solid fa-cloud']{
  color: rgb(52, 228, 52);
}
[class='fa-solid fa-puzzle-piece']{
  color: orange;
}
[class='fa-solid fa-note-sticky']{
  color: rgb(71, 40, 241);
}
.form-control{
  background-color: transparent;
}
.form-control::placeholder{
  color: white;
}
[class='btn btn-outline-success']{
  color: white;
  border: white 2px solid;
  margin-right: 10px;
  background-color:#0f0f10;
}
[class='btn btn-outline-success']:hover{
  background-color: #0e1822;
  color: #0668C6;
  border: white 2px solid;
}
form img{
  height: 40px;
  border-radius: 50px;
}
.container-fluid h1 {
  color: white;
}
.person-img,.title{
  color: white;
}
.person-img{
  background-image:url(07.png), url(29111878-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain,contain;
}
.title span{
  font-size: 55px;
  font-weight: 700;
}
.title p{
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
.person-img{
  height: 50vh;
}
[src="Figma-1-logo.png"]{
  display: none;
}
[src="idea-icon-4.png"]{
  display: none;
}
[src="5847ea22cef1014c0b5e4833.png"]{
  display: none;
}
}
@media only screen and (min-width:1200px) {
  .title{
    padding-top:150px;
    padding-left: 60px;
  }
}
@media only screen and (max-width:1200px) {
  .title{
    padding-top:50px;
    text-align: center;

  }
  .title span{
    font-size:38px;
  }
  .title p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}
.marka{
  background-image: url(18-180421_how-to-add-a-paint-stroke-highlight-to-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

[src="5847ea22cef1014c0b5e4833.png"]{
  position: relative;
  left: 75%;
}
[src="Figma-1-logo.png"]{
  position: relative;
  top:10%;
}
[src="idea-icon-4.png"]{
  position: relative;
  top: 25%;
  left: 70%;
}
[src="React-icon.svg.png"]{
  position: relative;
  top: 80%;
  left: -30%;
}
.navbar-toggler{
  border: white solid 2px;
  color: white;
}
.example-container{
  color: white;
}